$background-green: #59c594;
$button-pink: #f33657;
$hover-pink: #d4334f;
$vin-red: #ff0000;
$title-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  background-color: $background-green;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

ul {
  padding: 0;
}
