@import '../../styles/styles';


.answer-container {
  background-color: $button-orange;
  font-family: $text-font;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  &:hover{
    background-color: $hover-orange;
  }

  .answer-text {
    color: white;
    font-size: 20px;
  }
}


